<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Course information</title>
</head>
<body>
  <div>
    <div th:text="'ID: ' + ${course.getId()}"></div>
    <div th:text="'Name: ' + ${course.getName()}"></div>
    <div th:text="'Price: ' + ${course.getPrice()}"></div>
    <div th:text="'Link: ' + ${course.getLink()}"></div>
  </div>

  <div th:if="${!user.getCourses().contains(course)}">
    <form th:method="POST" th:action="@{/students/courses/{id}/enroll(id=(${course.getId()}))}">
      <input type="submit" value="Enroll">
    </form>
  </div>

  <div th:if="${user.getCourses().contains(course)}">
    <form th:method="POST" th:action="@{/students/courses/{id}/drop(id=(${course.getId()}))}">
      <input type="submit" value="Drop">
    </form>
  </div>


</body>
</html>