<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit course</title>
</head>
<body>
  <form th:method="PATCH" th:action="@{/admin/courses/{id}(id=${course.getId()})}" th:object="${course}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name" name="name">
    <div th:if="${#fields.hasErrors()}" th:errors="*{name}"></div>
    <br>

    <label for="price">Enter price: </label>
    <input type="number" th:field="*{price}" id="price" name="price">
    <div th:if="${#fields.hasErrors()}" th:errors="*{price}"></div>
    <br>

    <label for="link">Enter link: </label>
    <input type="text" th:field="*{link}" id="link" name="link">
    <div th:if="${#fields.hasErrors()}" th:errors="*{link}"></div>
    <br>

    <input type="submit" value="Submit">
  </form>
</body>
</html>