<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" th:href="@{/welcome}">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" th:if="${authentication != null && authentication.getRole().name().equals('ROLE_STUDENT')}" th:href="@{/students/courses}">Courses</a>
            <a class="nav-item nav-link" th:if="${authentication != null && authentication.getRole().name().equals('ROLE_TEACHER')}" th:href="@{/teachers/courses}">Courses</a>
            <a class="nav-item nav-link" th:if="${authentication != null && authentication.getRole().name().equals('ROLE_STUDENT')}" th:href="@{/students/profile}">My profile</a>
            <a class="nav-item nav-link" th:if="${authentication != null && authentication.getRole().name().equals('ROLE_TEACHER')}" th:href="@{/teachers/profile}">My profile</a>
            <a class="btn btn-outline-success my-2 my-sm-0"  th:if="${authentication != null && authentication.getRole().name().equals('ROLE_TEACHER')}" th:href="@{/teachers/courses/new}">Create course</a>
            <a th:if="${authentication == null}" th:href="@{/auth/login}" class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign in</a>
            <a th:if="${authentication == null}" th:href="@{/auth/registration}" class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign up</a>
            <a th:if="${authentication != null}" th:href="@{/logout}" class="btn btn-outline-success my-2 my-sm-0" type="submit">Log out</a>
        </div>
    </div>
</nav>
  <div th:each="course: ${courses}">
    <a th:href="@{/teachers/courses/{id}(id=${course.getId()})}"
       th:text="${course.getId()} + ': ' + ${course.getName()}"></a>
  </div>
</body>
</html>